@charset "utf-8";
/* CSS Document */

#navigation p:first-child {
	margin-bottom:0px;
}

//expense log

#dataTable, td, th {
	border: 1px solid black;
}

#dataTable {
	width:1000px;
	border-collapse:collapse;
}

#dataTable th {
	padding: 5px 10px;
	background-color:#3E7B3E;
	color: #FFFFFF;
	font-size: 14px;
	border: 1px solid black;
}

#dataTable td {
	text-align: center;
	padding: 5px;
	font-size: 12px;
	border: 1px solid black;
}

#addButton {
	margin-bottom: 20px;
}

